.env
.env.local
.env.*.local

.idea/
*.iw
*.iws
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/cmd/server/server
/main
app
*.exe
*.exe~
*.dll
*.so
*.dylib

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db